body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
}


header {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    text-align: center;
}

main {
    padding: 20px;
}


form {
    margin-bottom: 20px;
}

form input,
form select {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

form button {
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}


ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

.success {
    color: #28a745;
}


.error {
    color: #dc3545;
}

.category-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.category-box {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
    width: calc(33.33% - 10px); 
    box-sizing: border-box;
}


.category-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0; 
    list-style: none; 
}

.category-item {
    flex: 0 0 calc(33.33% - 20px); 
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ddd;
    text-align: center;
    background-color: #fff;
    transition: background-color 0.3s ease;
}

.category-item:hover {
    background-color: #f5f5f5;
}