{% extends 'base.html' %}

{% block content %}
    <h2>Welcome, {{ username }}!</h2>

   <!-- Search Form -->
    <form method="post" action="{{ url_for('user_dashboard', username=username) }}">
        <input type="text" name="search_query" placeholder="Search for categories or products">
        <button type="submit">Search</button>
    </form>

    <!-- Display Search Results -->
    {% if search_results %}
    <h3>Search Results</h3>
    <ul>
        {% for result in search_results %}
            {% if result['Type'] == 'Category' %}
                <li><a href="{{ url_for('display_category_products', category_id=result['ID']) }}">{{ result['Name'] }}</a></li>
            {% elif result['Type'] == 'Product' %}
                <li>
                    Product: {{ result['Name'] }} - Price: Rs {{ result['Price'] }}
                    <form method="post" action="{{ url_for('add_to_cart', product_id=result['ID']) }}">
                        <input type="number" name="quantity" placeholder="Quantity" value="1" min="1">
                        <button type="submit">Add to Cart</button>
                    </form>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <form action="{{ url_for('user_dashboard', username='username') }}" method="get">
        <button type="submit" class="btn btn-primary">Back to Dashboard</button>
    </form>
    <p>       </p>
    {% else %} 

    <h3>Available Categories</h3>
    <div class="row">
        {% for category in available_categories %}
            <div class="col-md-3 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ category[1] }}</h5>
                        <a href="{{ url_for('display_category_products', category_id=category[0]) }}" class="btn btn-primary">View Products</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    {% endif %} 
    <form action="/" method="get">
        <button type="submit" class="btn btn-primary">Logout</button>
    </form>

    <p>      </p>
    <form action="/user/cart" method="get">
        <button type="submit" class="btn btn-primary">Go to Cart</button>
    </form>
{% endblock %}
